.eps-chart {
	background-color: #000000;
	margin: .3em;
	margin-bottom: 3em;
	padding: 1em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #424242;
	min-height: 42em;
	max-height: 42em;
	text-align: center;
	min-width: 75em;
	max-width: 75em;
}
