.company-news {
	background-color: #282828;
	color: #ffffff;
	width: 25vw;
	height: 10vh;
	font-size: 14px;
}

.company-news-link {
	color: #ffffff;
	text-decoration: none;
}

	.company-news-link:hover {
		color: #ffffff;
		text-decoration: none;
	}