.company-news {
	background-color: #000000;
	min-width: 30em;
	max-width: 30em;
	font-size: 1em;
	align-items: center;
	margin: .3em;
	margin-bottom: 3em;
	padding: 1em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #424242;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
	text-align: center;
}

.company-news-img {
	width: 25em;
	height: auto;
	border: 0.1vh solid #424242;
}

.company-news-link {
	color: #ffffff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1em;
	padding-top: 1em;
	border-radius: .3em;
}

	.company-news-link:hover {
		background-color: #1a1a1a;
		color: #ffffff;
		text-decoration: none;
	}
