.dividends-chart-container {
	background-color: #000000;
	margin: 1.3em;
	padding-top: 1em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #424242;
	min-height: 42em;
	max-height: 42em;
	text-align: center;
	min-width: 75em;
	max-width: 75em;
}

.dividends-chart {
	padding: 1em;
	padding-top: 0em;
}

.not-stonks-guy {
	min-width: 25em;
	max-width: 25em;
}
