.balance-sheet-chart {
	background-color: #000000;
	margin: 1.3em;
	padding: 2em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #424242;
	min-height: 44em;
	max-height: 44em;
	text-align: center;
	min-width: 77em;
	max-width: 77em;
}
