.learn-page {
	color: #000000;
}
.learn-page-row-container {
	display: flex;
	flex-direction: row;
	color: #ffffff;
	justify-content: center;
	align-items: flex-start;
	padding: 1.0rem;
}

.learn-page-column-container {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	justify-content: center;
	align-items: center;
}

p {
	word-break: normal;
	white-space: normal;
	padding: 1rem 1rem 0rem 1rem;
}

.learn-banner {
	background-color: #0084ff;
	color: #ffffff;
	min-height: 12em;
	max-height: 12em;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
}

.learn-banner-title {
	margin: 0em;
	padding-top: 1.2em;
	margin-bottom: .3em;
	font-size: 3em;
	font-weight: 300;
}

button:focus {
	outline: 0 !important;
}
