

.news-container {
	/* background-image: linear-gradient(90deg, #28bf91 10%, #24b99b 90%);
	color: #ffffff;
	margin: 5vh 2vw 5vh 10vw;
	padding: .5vh .5vw .5vh .5vw;
	width: 15vw;
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: .1vh solid #2a2a2a;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
	font-size: 1.2vw; */
	background-color: #ffffff;
	flex: 1;
	margin: .3em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #eceff1;
	box-shadow: 0 0em .8em 0 rgba(0, 0, 0, 0.61);
}

.news-container p {
	font-size: .8em;
}

.news-img {
	width: 8vw;
	height: auto;
	border: 0.1vh solid #eceff1;
}

.news-link {
	color: #000000;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 1em;
	padding-top: 1em;
	border-radius: .3em;
}

	.news-link:hover {
		background-color: #f2f2f2;
		color: #000000;
		text-decoration: none;
		box-shadow: 0 0em .8em 0 rgba(0, 0, 0, 0.61);
	}
