.cash-flow-chart {
	background-color: #ffffff;
	margin: .3em;
	margin-bottom: 3em;
	padding: 1em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #eceff1;
	min-height: 42em;
	max-height: 42em;
	text-align: center;
	min-width: 75em;
	max-width: 75em;
	box-shadow: 0 0em .8em 0 rgba(0, 0, 0, 0.61);
}
