.gainers-bar {
	display: inline-block;
	width: 320px;
	height: 390px;
	background: #343a40;
	color: #17a2b8;
	font-size: 30px;
	padding: 10px;
	position: absolute;
	top: 170px;
	left: 1767px;
}

.gainers-bar-title {
	display: inline-block;
	width: 320px;
	height: 70px;
	background: none;
	color: #17a2b8;
	font-size: 30px;
	padding: 10px;
	position: absolute;
	top: -70px;
	left: 0px;
}



