.price-chart-container {
	background-color: #ffffff;
	margin: .3em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #eceff1;
	min-height: 41em;
	max-height: 41em;
	text-align: center;
	min-width: 75em;
	max-width: 75em;
	box-shadow: 0 0em .8em 0 rgba(0, 0, 0, 0.61);
}

.price-chart {
	padding: 1em;
}

.green {
	color: rgba(33, 206, 153, 1);
}

.red {
	color: rgba(244, 84, 48, 1);
}