.price-chart-info-container {
	overflow: auto;
	background-color: #000000;
	color: #ffffff;
	margin: 0vh 0vw 3vh 0vw;
	padding: 0.5vh 0.5vw 0.5vh 0.5vw;
	width: 62vw;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0.1vh solid #2a2a2a;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
}

.price-chart-info {
	background-color: #000000;
	position: relative;
	color: #ffffff;
	margin: 0.0rem 0.0rem 0.0rem 0.0rem;
	padding: .5vh .5vw .5vh .5vw;
	height: auto;
	width: auto;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
}

.price-chart-info-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0rem 1rem 0rem 1rem;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
}

.price-chart-info-item-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.price-chart-info-title {
	color: #8c8f91;
	font-size: 13px;
	margin: 0.0rem 0.0rem -0.5rem 0.0rem;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
}

.price-chart-info-data {
	font-size: 14px;
	margin: -1rem 0.0rem -1.0rem 0.0rem;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
}
