.price-chart-info-container {
	background-color: #000000;
	margin: .3em;
	margin-bottom: 3em;
	padding: 1em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #424242;
	text-align: center;
	min-width: 75em;
	max-width: 75em;
}

.price-chart-info {
	background-color: #000000;
	position: relative;
	color: #ffffff;
	height: auto;
	width: auto;
	font-size: 1em;
	text-align: center;
	line-height: 50px;
}

.price-chart-info-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0em 1em 0em 1em;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
}

.price-chart-info-item-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.price-chart-info-title {
	color: #8c8f91;
	font-size: .9em;
	margin: 0em;
	padding: 0em;
}

.price-chart-info-data {
	font-size: 1em;
	margin: 0em;
	padding: 0em;
}
