.price-chart-container {
	background-color: #000000;
	/* flex: 2; */
	margin: 1.3em;
	padding-top: 1em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #424242;
	min-height: 45em;
	max-height: 45em;
	text-align: center;
	min-width: 75em;
	max-width: 75em;
}

.price-chart {
	padding: 1em;
	padding-top: 0em;
}

.green {
	color: rgba(33, 206, 153, 1);
}

.red {
	color: rgba(244, 84, 48, 1);
}