.watchlist-container {
	background-color: #ffffff;
	flex: 1;
	margin: .3em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #eceff1;
	font-family: 'Lato', Arial, Helvetica, sans-serif !important;
	box-shadow: 0 0em .8em 0 rgba(0, 0, 0, 0.61);
}

.watchlist-container form {
	display: grid;
	grid-template-columns: 65% auto;
	grid-column-gap: .6em;
}

.add-to-watchlist {
	padding: 0 1em .6em 1em;
	padding-bottom: 0;
	height: auto;
}

.add-to-watchlist input {
	margin: 0;
	background-color: #fffffff5;
	font-family: 'Lato', Arial, Helvetica, sans-serif !important;
	height: auto;
	border-radius: .15em;
	font-size: medium;
}

.form_buttons {
	background-color: #1652f0;
	height: auto;
	margin: .5em 0 .5em 0;
	border-radius: .15em;
	border-style: solid;
	border-width: 1px;
	color: rgb(230, 230, 230);
	font-size: medium;
}

.mystocks_div {
	margin-top: 0em;
}

.yourList {
	margin: 0;
	padding: 0;
	height: 0;
}