.company-logo {
	width: 6em;
	height: auto;
	margin: 1em;
	border-radius: .3em;
	border-color: #eceff1;
}

.company-overview {
	background-color: #ffffff;
	min-width: 40em;
	max-width: 40em;
	margin: .3em;
	margin: 1.3em;
	margin-bottom: 3em;
	padding: 1em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #eceff1;
	box-shadow: 0 0em .8em 0 rgba(0, 0, 0, 0.61);
}

.company-website {
	color: #8c8f91;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.company-info-title {
	color: #8c8f91;
	font-size: .8em;
	margin-bottom: 0em;
}

.company-info-data {
	margin: 0em;
	margin-left: 1em;
	padding: 0em;
}

.company-info-data-website {
	margin: 0em;
	padding: 0em;
}

.company-link {
	color: #000000;
}

	.company-link:hover {
		color: #888888;
		text-decoration: none;
	}



