.company-logo {
	background-color: #282828;
	width: 5vw;
	height: auto;
	margin: 0.0rem 0.0rem 1.0rem 0.0rem;
	border: 0.1vh solid #2a2a2a;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
}

.company-overview {
	width: 30vw;
	height: auto;
	margin: 2.0rem 2.0rem 2.0rem 2.0rem;
	padding: 2.0rem 2.0rem 2.0rem 2.0rem;
	border: 0.1vh solid #000000;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
}

.company-website {
	color: #8c8f91;
	font-size: 13px;
	margin: 0.0rem 0.0rem 0.0rem 0.0rem;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.company-info-title {
	color: #8c8f91;
	font-size: 13px;
	margin: 0.0rem 0.0rem 0.0rem 0.0rem;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
}

.company-info-data {
	margin: 0.0rem 0.0rem 1.0rem 0.0rem;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
}

.company-info-data-plus {
	margin: 0.0rem 0.0rem 0.0rem 0.0rem;
	padding: 0.0rem 0.0rem 0.0rem 0.0rem;
}

.nav-bar-link {
	color: #ffffff;
	text-decoration: none;
}

	.nav-bar-link:hover {
		color: #ffffff;
		text-decoration: none;
	}



