.list-of-companies-container {
	background-color: #181818;
	color: #ffffff;
	margin: 0vh 2vw 5vh 15vw;
	padding: .5vh .5vw .5vh .5vw;
	width: 53vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: .1vh solid #2a2a2a;
}
