.home-graph-container {
	
	background-color: rgb(27, 27, 27);
	/* flex: 2; */
	margin: .3em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #424242;
	min-height: 31em;
	max-height: 31em;
	/* min-width: 40em;
	max-width: 40em; */
}

.home-graph {
	
	padding: 1em;
	padding-top: 0em;
	padding-right: .4em;
	
}

.home-graph p {
	font-size: large;
	padding-bottom: 0;
	margin-bottom: .3em;
	
}

.chart {
	height: 25em !important;
	margin-top: .6em;
}

.chart h2 {
	font-size: large;
}

.chart h6 {
	font-size: small;
}