.home-graph-container {
	background-color: #000000;
	color: #ffffff;
	margin: 5vh 0vw 1vh 0vw;
	padding: .5vh .5vw .5vh .5vw;
	width: 53vw;
	height: 62vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: .1vh solid #2a2a2a;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
}

.home-graph {
	background-color: #000000;
	position: relative;
	margin: auto;
	color: #ffffff;
	height: 63vh;
	width: 52.25vw;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	margin: 10px;
}
