.home-chart-container {
	background-color: #ffffff;
	margin: .3em;
	border: .1em solid;
	border-radius: .3em;
	border-color: #eceff1;
	min-height: 31em;
	max-height: 31em;
	text-align: center;
}

.home-chart {
	padding: 1em;
	padding-top: 0em;
	padding-right: .4em;
}

	.home-chart p {
		font-size: large;
		padding-bottom: 0;
		margin-bottom: .3em;
	}

.chart {
	height: 25em !important;
	margin-top: .6em;
}

.chart h2 {
	font-size: large;
}

.chart h6 {
	font-size: small;
}

.green {
	color: rgba(33, 206, 153, 1);
}

.red {
	color: rgba(244, 84, 48, 1);
}