.reseach-banner {
	background-color: #000000;
	font-size: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0em 12em 0em 12em;
	min-height: 2em;
	max-height: 2em;
	text-align: center;
}
