.reseach-banner {
	background-color: #0084ff;
	height: 12em;
	text-align: left;
	color: white;
	font-family: 'Roboto Slab', serif;
	box-shadow: 0 .2em .8em 0 rgba(0, 0, 0, 0.61);
}

.research-upper-header-container {
	height: 8rem;
	font-size: 28px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 4em;
	padding-right: 4em;
}

.research-lower-header-container {
	font-size: 20px;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: .1vh solid #282828;
}

.research-header-ticker-name {
	margin: 0% 0% 0% 0%;
	height: 0px;
	width: 0px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	color: white;
}

.research-header-price {
	height: 0px;
	width: 0px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	color: white;
}

.research-header-market-cap {
	height: 0px;
	width: 0px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	color: white;
}

.research-header-financials {
	flex-grow: 1;
	color: white;
	text-align: right;
	width: 0px;
	line-height: 5vh;
	margin: 0px 0px 0px 30%;
}

.research-header-stock-chart {
	flex-grow: 1;
	color: white;
	text-align: center;
	width: 0px;
	line-height: 5vh;
	margin: 0px 0px 0px 0px;
}

.research-header-company-overview {
	flex-grow: 1;
	color: white;
	text-align: left;
	width: 0px;
	line-height: 5vh;
	margin: 0px 30% 0px 0px;
}